<div>
    <strong>About</strong>
    <ul>
        <li><a href="/#overview">Overview</a></li>
        <li><a href="/#third-party-components">Third Party Components</a></li>
        <li><a href="/packages/core/">Core</a></li>
        <li><a href="/packages/skeleton/">Skeleton</a></li>
    </ul>

    <strong>Additional Packages</strong>
    <ul>
        <li><a href="/packages/url/">Url</a></li>
        <li><a href="/packages/config/">Config</a></li>
        <li><a href="/packages/validation/">Validation</a></li>
    </ul>
</div>